@font-face {
    font-family: "IBMPlexSansThai";
    src: url("./fonts/IBMPlexSansThai-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "IBMPlexSansThai";
    src: url("./fonts/IBMPlexSansThai-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "IBMPlexSansThai";
    src: url("./fonts/IBMPlexSansThai-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "IBMPlexSansThai";
    src: url("./fonts/IBMPlexSansThai-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body, html { 
    margin: 0; 
    padding: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ff0000;
    font-family: "IBMPlexSansThai";
    overflow: hidden;
}
.wrapper {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.page { 
    > .wrapper { 
        text-align: center;
        padding: 50px 0;
        z-index: 1;
        position: relative;
    }
    .logo { 
        width: 250px;
    }
    @media only screen and (max-width: 375px) {
        > .wrapper { 
            padding: 30px 0;
        }
        .logo { 
            width: 180px;
        }
    }
}


.page-intro  {
    background-image: url('./img/intro-bg.png');
    > .wrapper { 
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/*
    ######  ####  #####  #    # 
    #      #    # #    # ##  ## 
    #####  #    # #    # # ## # 
    #      #    # #####  #    # 
    #      #    # #   #  #    # 
    #       ####  #    # #    # 
*/
.page-form { 
    .bg-sink { 
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    h3 { 
        font-size: 25px;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 4px #00000082;
        margin-top: 0;
    }
    form { 
        padding: 0 40px;
        display: flex;
        flex-direction: column;
    }
    input, select { 
        max-width: 100%;
        height: 35px;
        background-color: white;
        border-radius: 50px;
        border: 0;
        margin-bottom: 20px;
        padding: 5px 50px 5px 20px;
        font-family: "IBMPlexSansThai";
        color: rgba(0, 0, 0, .57);
    }
    select {
        height: 45px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .form-group { 
        display: flex;
        flex-direction: column;
        position: relative;
        svg.star{ 
            width: 15px;
            height: 15px;
            position: absolute;
            right: 16px;
            top: 15px;
        }
        svg.arrow{ 
            width: 12px;
            height: 12px;
            position: absolute;
            right: 38px;
            top: 17px;
            color: rgba(0, 0, 0, .57);
        }
        .error-message { 
            color: #ffd338;
            text-align: right;
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 10px;
        }
    }
    .consent { 
        flex-direction: row;
        color: white;
        font-size: 12px;
        text-align: left;
        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 2px solid white;
            border-radius: 4px;
            outline: none;
            cursor: pointer;
            position: relative;
            margin-right: 10px;
            background: transparent;
            padding: 10px;
        }
    
        input[type="checkbox"]:checked::before {
            content: '\2713';
            font-size: 20px;
            color: black;
            position: absolute;
            top: -5px;
            left: 1px;
        }
    
        label {
            cursor: pointer;
            display: flex;
            align-items: flex-start;
        }
    }
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: 130px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }

    @media only screen and (max-width: 375px) {
        h3 { 
            font-size: 20px;
        }
        input, select { 
            height: 30px;
            margin-bottom: 12px;
        }
        select {
            height: 40px;
        }
        .form-group { 
            display: flex;
            flex-direction: column;
            position: relative;
            svg.star{ 
                width: 10px;
                height: 10px;
                right: 12px;
            }
            svg.arrow{ 
                width: 10px;
                height: 10px;
                right: 28px;
                top: 15px;
            }
            .error-message { 
                bottom: -3px;
            }
        }
        .consent { 
            font-size: 10px;
           
        }
        .btn-submit { 
            bottom: 80px;
        }
    }
}


/*
    # #    # #####  ###### #    # 
    # ##   # #    # #       #  #  
    # # #  # #    # #####    ##   
    # #  # # #    # #        ##   
    # #   ## #    # #       #  #  
    # #    # #####  ###### #    # 
*/
.page-index { 
    .bg-sink, .bg-spoon { 
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    .bg-spoon { 
        padding: 0px 20px;
        width: 200px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .img-text { 
        width: 100%;
        margin: 50px 0 0;
    }
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        img { 
            width: 280px;
        }
    }

}

/*
                              #   
 ####  ##### ###### #####    ##   
#        #   #      #    #  # #   
 ####    #   #####  #    #    #   
     #   #   #      #####     #   
#    #   #   #      #         #   
 ####    #   ###### #       ##### 
*/
.page-step1 {
    .bg-sink { 
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    .img-text { 
        width: 100%;
    }
    .shelf { 
        max-width: 400px;
        height: 400px;
        width: 500px;
        background-image: url(./img/shelf.png);
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 80px auto 0;
    }
    .shelf-item {
        display: flex;
        justify-content: space-evenly;
        &:nth-child(1) { 
            top: -70px;
            position: relative;
        }
        &:nth-child(2) { 
            top: -40px;
            position: relative;
        }
        &:nth-child(3) { 
            top: -20px;
            position: relative;
        }
        &:nth-child(4) { 
            top: -10px;
            position: relative;
        }
        img { 
            width: 145px
        }
    } 
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: 130px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }
    .active-bowl,.active-effect { 
        width: 200px;
        position: absolute;
        left: 50%;
        bottom: 233px;
        transform: translate(-50%, 0);
    }
    .active-effect { 
        width: 80px;
        bottom: 330px;
        display: none;
    }
    @media only screen and (max-width: 375px) {

        .shelf { 
            max-width: 300px;
            height: 300px;
            width: 400px;
            margin: 50px auto 0;
        }
        .shelf-item {
            &:nth-child(1) { 
                top: -48px;
                position: relative;
            }
            &:nth-child(2) { 
                top: -20px;
                position: relative;
            }
            &:nth-child(3) { 
                top: -4px;
                position: relative;
            }
            &:nth-child(4) { 
                top: 14px;
                position: relative;
            }
            img { 
                width: 100px
            }
        } 
        .active-bowl,.active-effect { 
            width: 140px;
            bottom: 190px;
        }
        .active-effect { 
            width: 80px;
            bottom: 260px;
            display: none;
        }

        .btn-submit { 
            bottom: 80px;
        }
    }
}