@font-face {
    font-family: "IBMPlexSansThai";
    src: url("./fonts/IBMPlexSansThai-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "IBMPlexSansThai";
    src: url("./fonts/IBMPlexSansThai-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "IBMPlexSansThai";
    src: url("./fonts/IBMPlexSansThai-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "IBMPlexSansThai";
    src: url("./fonts/IBMPlexSansThai-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body, html { 
    margin: 0; 
    padding: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ff0000;
    font-family: "IBMPlexSansThai";
    overflow: hidden;
}
.wrapper {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.page { 
    > .wrapper { 
        text-align: center;
        padding: 30px 0;
        z-index: 1;
        position: relative;
    }
    .logo { 
        width: 200px;
    }
    @media only screen and (max-width: 420px) {
        > .wrapper { 
            padding: 10px 0;
        }
        .logo { 
            width: 180px;
        }
    }
}


.page-intro  {
    background-image: url('./img/intro-bg.png');
    > .wrapper { 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .spoon { 
        position: absolute;
        bottom: -40px;
        width: 300px;
    }
}
/*
    ######  ####  #####  #    # 
    #      #    # #    # ##  ## 
    #####  #    # #    # # ## # 
    #      #    # #####  #    # 
    #      #    # #   #  #    # 
    #       ####  #    # #    # 
*/
.page-form { 
    .logo { 
        width: 120px;
    }
    .bg-sink { 
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        max-height: 220px;
    }
    h3 { 
        font-size: 25px;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 4px #00000082;
        margin-top: 0;
    }
    form { 
        padding: 0 40px;
        display: flex;
        flex-direction: column;
    }
    input, select { 
        max-width: 100%;
        height: 35px;
        background-color: white;
        border-radius: 50px;
        border: 0;
        margin-bottom: 20px;
        padding: 5px 50px 5px 20px;
        font-family: "IBMPlexSansThai";
        color: rgba(0, 0, 0, .57);
    }
    select {
        height: 45px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .form-group { 
        display: flex;
        flex-direction: column;
        position: relative;
        svg.star{ 
            width: 15px;
            height: 15px;
            position: absolute;
            right: 16px;
            top: 15px;
        }
        svg.arrow{ 
            width: 12px;
            height: 12px;
            position: absolute;
            right: 38px;
            top: 17px;
            color: rgba(0, 0, 0, .57);
        }
        .error-message { 
            color: #ffd338;
            text-align: right;
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 10px;
        }
    }
    .consent { 
        flex-direction: row;
        color: white;
        font-size: 12px;
        text-align: left;
        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 2px solid white;
            border-radius: 4px;
            outline: none;
            cursor: pointer;
            position: relative;
            margin-right: 10px;
            background: transparent;
            padding: 10px;
        }
    
        input[type="checkbox"]:checked::before {
            content: '\2713';
            font-size: 20px;
            color: black;
            position: absolute;
            top: -5px;
            left: 1px;
        }
    
        label {
            cursor: pointer;
            display: flex;
            align-items: flex-start;
            font-size: 10px;
    line-height: 1.3;
        }
    }
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: 80px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }
    @media only screen and (max-width: 400px) {
        >.wrapper{
            padding-top: 10px;
        }
        .bg-sink { 
            bottom: -30px;
        }
    }
    @media only screen and (max-width: 375px) {
        h3 { 
            font-size: 20px;
        }
        input, select { 
            height: 30px;
            margin-bottom: 12px;
        }
        select {
            height: 40px;
        }
        .form-group { 
            display: flex;
            flex-direction: column;
            position: relative;
            svg.star{ 
                width: 10px;
                height: 10px;
                right: 12px;
            }
            svg.arrow{ 
                width: 10px;
                height: 10px;
                right: 28px;
                top: 15px;
            }
            .error-message { 
                bottom: -3px;
            }
        }
        .consent { 
            font-size: 10px;
           
        }
        .btn-submit { 
            bottom: 80px;
        }
    }
}


/*
    # #    # #####  ###### #    # 
    # ##   # #    # #       #  #  
    # # #  # #    # #####    ##   
    # #  # # #    # #        ##   
    # #   ## #    # #       #  #  
    # #    # #####  ###### #    # 
*/
.page-index { 
    &.page>.wrapper { 
        padding-top: 30px;
    }
    .logo {
        width: calc(100% - 160px);
    }
    .bg-sink, .bg-spoon { 
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        max-height: 220px;
    }
    .spoon { 
        position: absolute;
        bottom: -40px;
        width: 300px;
        right: 20px;
    }
    .bg-spoon { 
        padding: 0px 20px;
        width: 300px;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -30px;
    }
    .img-text { 
        width: 100%;
        margin: 50px 0 0;
    }
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        img { 
            width: 280px;
        }
    }

}

/*
                              #   
 ####  ##### ###### #####    ##   
#        #   #      #    #  # #   
 ####    #   #####  #    #    #   
     #   #   #      #####     #   
#    #   #   #      #         #   
 ####    #   ###### #       ##### 
*/
.page-step1 {
    .logo {
        width: 100px;
    }
    .bg-sink { 
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        object-fit: cover;
        object-position: top;
        max-height: 220px;
    }
    .bg-grid { 
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        object-fit: cover;
        object-position: top;
        max-height: 260px;
    }
    .img-text { 
        width: 100%;
    }
    .shelf { 
        max-width: 400px;
        height: 400px;
        width: 500px;
        background-image: url(./img/shelf.png);
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 80px auto 0;
    }
    #bowl-1 { 
        animation-delay: 0ms;
    }
    #bowl-2 { 
        animation-delay: 200ms;
    }
    #bowl-3 { 
        animation-delay: 400ms;
    }
    #bowl-4 { 
        animation-delay: 600ms;
    }
    #bowl-5 { 
        animation-delay: 800ms;
    }
    #bowl-6 { 
        animation-delay: 1000ms;
    }
    #bowl-7 { 
        animation-delay: 1200ms;
    }
    #bowl-8 { 
        animation-delay: 1400ms;
    }
    .shelf-item {
        display: flex;
        justify-content: space-evenly;
        &:nth-child(1) { 
            top: -69px;
            position: relative;
        }
        &:nth-child(2) { 
            top: -35px;
            position: relative;
        }
        &:nth-child(3) { 
            top: -12px;
            position: relative;
        }
        &:nth-child(4) { 
            top: 10px;
            position: relative;
        }
        &:nth-child(4) { 
            // img {
            //     &:first-child { 
            //         width: 170px;
            //         margin-left: -10px;
            //     }
            // }
        }
        img { 
            width: 145px
        }
    } 
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: 80px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }
    .active-bowl,.active-effect { 
        width: 200px;
        position: absolute;
        left: 50%;
        bottom: 190px;
        transform: translate(-50%, 0);
    }
    .active-effect { 
        width: 80px;
        bottom: 300px;
        display: none;
    }
    @media only screen and (max-width: 420px) {
        > .wrapper { 
            padding-top: 10px;
        }
        .shelf { 
            max-width: 370px;
            height: 300px;
            width: 400px;
            margin: 35px auto 0;
        }
        .shelf-item {
            &:nth-child(1) { 
                top: -48px;
                position: relative;
            }
            &:nth-child(2) { 
                top: 0px;
                position: relative;
            }
            &:nth-child(3) { 
                top: 35px;
                position: relative;
            }
            &:nth-child(4) { 
                top: 75px;
                position: relative;
            }
            img { 
                width: 100px
            }
        } 
        .active-bowl,.active-effect { 
            width: 140px;
            bottom: 135px;
        }
        .active-effect { 
            width: 80px;
            bottom: 260px;
            display: none;
        }

        .btn-submit { 
            bottom: 30px;
        }
    }

    @media only screen and (max-width: 390px) {
        > .wrapper { 
            padding-top: 10px;
        }
        .shelf { 
            max-width: 300px;
            height: 300px;
            width: 400px;
            margin: 35px auto 0;
        }
        .shelf-item {
            &:nth-child(1) { 
                top: -48px;
                position: relative;
            }
            &:nth-child(2) { 
                top: -20px;
                position: relative;
            }
            &:nth-child(3) { 
                top: 5px;
                position: relative;
            }
            &:nth-child(4) { 
                top: 25px;
                position: relative;
            }
            img { 
                width: 100px
            }
        } 
        .active-bowl,.active-effect { 
            width: 140px;
            bottom: 175px;
        }
        .active-effect { 
            width: 80px;
            bottom: 260px;
            display: none;
        }

        .btn-submit { 
            bottom: 80px;
        }
    }


}

/*
                            #####  
 ####  ##### ###### #####  #     # 
#        #   #      #    #       # 
 ####    #   #####  #    #  #####  
     #   #   #      #####  #       
#    #   #   #      #      #       
 ####    #   ###### #      ####### 
*/
.page-step2 {
    .logo {
        width: 100px;
    }
    .bg-sink { 
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        max-height: 220px;
    }
    .img-text { 
        width: 100%;
    }
    .menu-wrapper { 
        display: flex;
        justify-content: center;
        img { 
            height: 145px;
            width: auto;
            min-width: 33.33%;
            object-fit: contain;
          
        }
    }
    #menu-1 { 
        animation-delay: 300ms;
    }
    #menu-2 { 
        animation-delay: 100ms;
    }
    #menu-3 { 
        animation-delay: 500ms;
    }
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: 80px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }
    .active-animation { 
        width: 200px;
        position: absolute;
        left: 50%;
        bottom: 270px;
        transform: translate(-50%, 0);
    }
    .active-bowl,.active-effect { 
        width: 200px;
        position: absolute;
        left: 50%;
        bottom: 190px;
        transform: translate(-50%, 0);
    }
    .active-effect { 
        width: 80px;
        bottom: 300px;
        display: none;
    }
    @media only screen and (max-width: 375px) {
        .active-bowl,.active-effect { 
            width: 140px;
            bottom: 190px;
        }
        .active-animation { 
            width: 140px;
            bottom: 250px;
        }
        .active-effect { 
            width: 80px;
            bottom: 260px;
            display: none;
        }

        .btn-submit { 
            bottom: 80px;
        }
    }
}

/*
                                      #   
 ####  #####  #####  ###### #####    ##   
#    # #    # #    # #      #    #  # #   
#    # #    # #    # #####  #    #    #   
#    # #####  #    # #      #####     #   
#    # #   #  #    # #      #   #     #   
 ####  #    # #####  ###### #    #  ##### 
*/
.page-order1 {
    .logo { 
        width: 80px;
    }
    .bg-shelf { 
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
    }
    .bg-sink { 
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        max-height: 220px;
    }
    .img-text { 
        width: 100%;
    }
    .active-bowl { 
        width: 200px;
        position: absolute;
        left: 50%;
        bottom: 200px;
        transform: translate(-50%, 0);
    }
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: 80px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }
    @media only screen and (max-width: 375px) {
        .active-bowl { 
            width: 140px;
            bottom: 130px;
        }
        .btn-submit { 
            bottom: 80px;
        }
    }
}

/*
                                    #####  
 ####  #####  #####  ###### #####  #     # 
#    # #    # #    # #      #    #       # 
#    # #    # #    # #####  #    #  #####  
#    # #####  #    # #      #####  #       
#    # #   #  #    # #      #   #  #       
 ####  #    # #####  ###### #    # ####### 
*/
.page-order2 {
    .wrapper {
        padding-top: 20px;
    }
    .logo { 
        width: 80px;
    }
    .bg-shelf { 
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
    }
    .bg-sink { 
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        max-height: 250px;
        z-index: 1;
    }
    .img-text { 
        width: 100%;
    }
    .active-animation { 
        width: 200px;
        position: absolute;
        left: 50%;
        bottom: 245px;
        transform: translate(-50%, 0);
        z-index: 1;
    }
    .active-bowl,.active-effect { 
        width: 200px;
        position: absolute;
        left: 50%;
        bottom: 155px;
        transform: translate(-50%, 0);
        z-index: 2;
    }
    .active-effect { 
        width: 80px;
        bottom: 300px;
        display: none;
    }
    .inner {
        position: relative;
    }
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: -40px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }
    @media only screen and (max-width: 430px) {
        .active-animation { 
            bottom: 225px;
            width: 170px;
        }
        .active-bowl,.active-effect { 
            width: 170px;
            bottom: 150px;
        }
        .active-effect { 
            width: 80px;
            bottom: 260px;
            display: none;
        }
    }
    @media only screen and (max-width: 400px) {
        .active-animation { 
            bottom: 195px;
            width: 120px;
        }
        .active-bowl,.active-effect { 
            width: 140px;
            bottom: 130px;
        }
        .active-effect { 
            width: 80px;
            bottom: 260px;
            display: none;
        }
    }
}

/*
    #    #   ##   # ##### 
    #    #  #  #  #   #   
    #    # #    # #   #   
    # ## # ###### #   #   
    ##  ## #    # #   #   
    #    # #    # #   #   
*/
.page-wait {
    > .wrapper { 
        padding-top: 0;
    }
    .top-sink { 
        width: 100%;
    }
    .bg-sink { 
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 100%;
        max-height: 250px;
    }
    .timer-wrapper { 
        font-size: 22px;
        margin-top: -12px;
        color: white;
        .timer { 
            background-color: black;
            padding: 0 10px;
            border-radius: 50px;
        }
    }
    .wait-dish { 
        width: 240px;
        transform-origin: center;
        // animation: tickTock 1s infinite alternate steps(2);
        position: absolute;
        bottom: 210px;
        left: calc(50% - 120px);
        transform: translate(-50%, 0);

        // @keyframes tickTock {
        //     0% {
        //         transform: rotate(0);
        //     }
        //     100% {
        //         transform: rotate(-45deg);
        //     }
        // }
    }
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }
    @media only screen and (max-width: 420px) {
        .active-effect { 
            width: 80px;
            bottom: 260px;
            display: none;
        }
        .btn-submit { 
            bottom: 40px;
        }
        .wait-dish { 
            width: 160px;
            left: calc(50% - 80px);
        }
    }
    @media only screen and (max-width: 376px) {
        .wait-dish { 
            width: 160px;
            left: calc(50% - 80px);
        }
    }
}


/*
                                     #   
    ###### # #    #   ##   #        ##   
    #      # ##   #  #  #  #       # #   
    #####  # # #  # #    # #         #   
    #      # #  # # ###### #         #   
    #      # #   ## #    # #         #   
    #      # #    # #    # ######  ##### 
*/
.page-final1 {
    .img-text { 
        width: 100%;
    }
    .inner {
        position: relative;
        padding: 0;
    }
    .bg-sink { 
        position: absolute;
        left: 0;
        bottom: -50px;
        width: 100%;
        max-height: 220px;
    }
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: -40px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }
    .active-bowl { 
        width: 200px;
        position: absolute;
        left: 50%;
        bottom: 140px;
        transform: translate(-50%, 0);
    }
    @media only screen and (max-width: 420px) {
        .active-bowl { 
            width: 180px;
            bottom: 100px;
        }
    }
    @media only screen and (max-width: 375px) {
        .active-bowl { 
            width: 130px;
            bottom: 112px;
        }
    }
}

/*
                                   #####  
    ###### # #    #   ##   #      #     # 
    #      # ##   #  #  #  #            # 
    #####  # # #  # #    # #       #####  
    #      # #  # # ###### #      #       
    #      # #   ## #    # #      #       
    #      # #    # #    # ###### ####### 
*/

.page-final2 {
    .img-text { 
        width: 100%;
    }
    .inner {
        position: relative;
        padding: 0 30px;
    }
    .bg-sink { 
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        max-height: 220px;
    }
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: -40px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }

    .active-text { 
        width: 100%;
        margin-top: 20px;
    }
    .active-bowl,
    .active-effect { 
        width: 100%;
        position: absolute;
        left: 50%;
        bottom: 150px;
        transform: translate(-50%, 0);
    }
    .active-effect { 
        width: 160px;
        bottom:360px;
    }

    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: 80px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }
   
    @media only screen and (max-width: 375px) {
        .logo { 
            width: 100px;
        }
        .active-bowl,
        .active-effect { 
            width: calc(100% - 90px);
            position: absolute;
            left: 50%;
            bottom: 170px;
            transform: translate(-50%, 0);
        }
        .active-effect { 
            width: 110px;
            bottom: 340px;
        }
    
        .btn-submit { 
            bottom: 80px;
        }
    }
}


/*
                                   #####  
    ###### # #    #   ##   #      #     # 
    #      # ##   #  #  #  #            # 
    #####  # # #  # #    # #       #####  
    #      # #  # # ###### #            # 
    #      # #   ## #    # #      #     # 
    #      # #    # #    # ######  #####  
*/
.page-final3 {
    .bg-sink { 
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        max-height: 220px;
    }
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: -40px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }
    .active-text { 
        width: 100%;
    }
    .active-bowl,
    .active-effect { 
        width: 100%;
        position: absolute;
        left: 50%;
        bottom: 150px;
        transform: translate(-50%, 0);
    }
    .active-effect { 
        width: 160px;
        bottom: 300px;
    }

    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: 80px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }
    @media only screen and (max-width: 440px){
        .logo { 
            width: 150px;
        }
    }
    @media only screen and (max-width: 420px){
        .logo { 
            width: 100px;
        }
        .active-bowl,
        .active-effect { 
            width: calc(100% - 30px);
            bottom: 160px;
            transform: traslate(-50%, 0);
        }
        .btn-submit { 
            bottom: 80px;
        }
    }
    @media only screen and (max-width: 375px) {
        .logo { 
            width: 100px;
        }
        .active-bowl,
        .active-effect { 
            width: calc(100% - 80px);
            bottom: 160px;
            transform: traslate(-50%, 0);
        }
        .btn-submit { 
            bottom: 80px;
        }
    }
}


/*
      ##   #    #   ##   #####  #####  
     #  #  #    #  #  #  #    # #    # 
    #    # #    # #    # #    # #    # 
    ###### # ## # ###### #####  #    # 
    #    # ##  ## #    # #   #  #    # 
    #    # #    # #    # #    # #####  
*/

.page-award {
    .bg-sink { 
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        max-height: 220px;
    }
    .img-text { 
        width: 100%;
    }
    .inner { 
        display: flex;
        div { 
            padding: 0 10px;
            width: calc(33.33% - 20px);
            flex-direction: column;
            display: flex;
            align-items: center;
        }
        .icon { 
            height: 75px;
            object-fit: contain;
            margin-bottom: 30px;
        }
        .btn { 
            width: 100%;
        }
    }
    .btn-submit { 
        background: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        left: 50%;
        bottom: 80px;
        transform: translate(-50%, 0);
        img { 
            width: 280px;
        }
    }
       
    @media only screen and (max-width: 375px) {
        .logo { 
            width: 100px;
        }
        .btn-submit { 
            bottom: 80px;
        }
    }
}

/*
    ##### #    #   ##   #    # #    #  ####  
      #   #    #  #  #  ##   # #   #  #      
      #   ###### #    # # #  # ####    ####  
      #   #    # ###### #  # # #  #        # 
      #   #    # #    # #   ## #   #  #    # 
      #   #    # #    # #    # #    #  ####  
*/


.page-thankyou {
    .bg-sink { 
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        max-height: 220px;
    }
    .img-text { 
        width: 100%;
    }
}

@keyframes wiggle {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(-5deg);
    }
  }
  
  .wiggle-animation {
    display: inline-block;
    animation: wiggle 1.5s ease-in-out infinite;
  }